/* add fonts */

@font-face {
	font-family: "Commissioner";
	src: url("/font/Commissioner-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Commissioner";
	src: url("/font/Commissioner-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Commissioner", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666;
}

/* root  */
:root {
	--index: calc(1vw + 1vh);
	--color-dark: #000;
}

.btn {
	color: #292929;
	border-color: #ebebeb;
}

.btn-primary {
	background: #ed7135;
	color: #fff;
}

.btn-primary:hover {
	background: #ed8135;
	color: #fff;
}

/* header */
.header {
	padding: 16px 0;
}

.nav-item .nav-link {
	padding: 0;
	color: #666;
}

.nav-item a.active {
	color: #292929;
	font-weight: bold;
}

.nav-item .active::after {
	content: "";
	display: block;
	width: 100%;
	margin: 25px 0 -25px;
	border-bottom: 2px solid #ee6b32;
}

.search .search-input {
	padding: 7px 7px 9px 44px;
	border-radius: 0.375rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #eeeeee;
}

.search .search-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	-webkit-transform: translateY(-48%);
	-ms-transform: translateY(-48%);
	transform: translateY(-48%);
}

/* content-section */
.content-section {
	padding: 40px 0;
}

/* left sidebar */
.content-section .leftSidebar {
	padding: 0;
}
.content-section .sidebar-nav {
	padding: 0;
}
.content-section .sidebar-link {
	color: #666;
	padding: 7px 0 9px 15px;
	border-radius: 8px;
}
.content-section .sidebar-link.active {
	background: #ed7135;
	color: #fff;
}

/* right content */
.tab-content_info .tab-content_title {
	font-size: 40px;
	font-weight: bold;
	color: #292929;
}
.info-sort .btn {
	background: transparent;
}
.info-sort .btn-newest {
	margin-right: -4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.info-sort .btn-latest {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.info-sort .btn-check:checked + .btn {
	background: #292929;
}
.tab-content_info .tab-content_items {
	font-size: 14px;
	font-weight: bold;
}

/* right content card */
.cards-container {
	flex-wrap: wrap;
}

.card {
	min-height: 428px;
}

.card img {
	max-height: 200px;
	width: auto;
	object-fit: cover;
}
.card .card-title {
	font-size: 24px;
	font-weight: bold;
	color: #292929;
}

.card .show-more-btn,
.card .show-less-btn {
	border: transparent;
	padding: 0;
	text-decoration: none;
	font-weight: 600;
	display: block;
	text-align: left;
}

.card .show-more-btn:hover,
.card .show-less-btn:hover {
	color: #ed7135;
}
.card .card-btn {
	border-top: 1px solid #ebebeb;
	padding: 16px;
}

.card-btn .btn-save {
	background: #ed7135;
	color: #fff;
}

.card-btn .btn:hover {
	border-color: #ed7135;
	color: #292929;
}

.card-btn .btn:active {
	background: #ed8135;
}

.card-btn .btn-share {
	background: transparent;
	color: #292929;
}


/* 768-992px .col-lg- | Container max-width 960px */
@media screen and (max-width: 991px) {
	.nav-item .active::after {
		margin: 16px 0 -16px;
	}
}

/* 320-576px .col-sm- | Container max-width 540px */
@media screen and (max-width: 575px) {
	.card {
		min-height: auto;
	}
	.cards-container {
		flex-direction: column;
		flex-wrap: inherit;
	}

	.rightContent .tab-content {
		padding: 0;
	}

	.tab-content_info .tab-content_title {
		font-size: 36px;
	}

	.tab-content_info .info-sort {
		width: 80%;
		text-align: end;
	}
}
